<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Definition for vehicle bean -->
   	<!-- bean id = "vehicle" class = "com.training.model.Vehicle">
   		<constructor-arg ref="car" />
   	   	<constructor-arg value = "1" />
   	</bean -->

   	<!-- Definition for car bean -->
   	<!-- bean id = "car" class = "com.training.model.Car" /-->
	
	
	
	<!-- Definition for vehicle bean -->
   	<bean id = "vehicle" class = "com.training.model.Vehicle" autowire = "constructor">
   	   <constructor-arg value = "1" />
   	</bean>

   	<!-- Definition for car bean -->
   	<bean id = "car" class = "com.training.model.Car" />
	
</beans>
